* {
            box-sizing: border-box;
        }

        .header {
            display: flex;
            border: 2px solid black;
            margin: 1%;
            height: 50px;
            width: 1322.5px;
                    
        }

       .name {
        border: 2px solid black;
        width: 150px;
        padding: 7.5px 0px 0px 0px;
       }

       .nav-container {
        border: 2px solid black;
        width: 185px;
        margin-left: 76%;
        justify-content: center;
        padding: 7.5px 0px 0px 0px;
       }

       .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 10px;
        }

        a {
        text-decoration: none;
        color: black;
        font-weight: bold;
            }


       .mainStyle {
            border: 2px solid black;
            margin: 1%;
            height: 1900px;
            width: 1322.5px;
            
        }

        .projectOneSection {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            border-radius: 10px;
            width: 1200px;
            height: 500px;
            margin: 60px;
            

        }

        .projectTwoSection {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            border-radius: 10px;
            width: 1200px;
            height: 500px;
            margin: 60px;
            

        }

        .projectThreeSection {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            border-radius: 10px;
            width: 1200px;
            height: 500px;
            margin: 60px;
            

        }


        .introSectionOne {
            display: flex;
            justify-content: center;
            border: 2px solid black;
            border-radius: 10px;
            width: 1200px;
            height: 125px;
            margin: 60px;
            

        }

        .introSectionOne > h1 {
            transform: translateY(50px);

        }

        .projectOneSection > div {
            border: 2px solid black;
            height: 400px;
            width: 400px;
            margin: 50px 0px 0px 0px;

        }

        .projectTwoSection > div {
            border: 2px solid black;
            height: 400px;
            width: 400px;
            margin: 50px 0px 0px 0px;

        }

        .projectThreeSection > div {
            border: 2px solid black;
            height: 400px;
            width: 400px;
            margin: 50px 0px 0px 0px;

        }

   

 





        



            EMPTY {
            line-height: 1.5em;
        }








        h1 {
            font-weight: bold;
        }

        .projectOneSection > div {        
            border-radius: 30px;
        }

        .projectTwoSection > div {        
            border-radius: 30px;
        }

        .projectThreeSection > div {        
            border-radius: 30px;
        }

        .websiteDivOne {
            border-radius: 30px;
            width: 500px !important;
            transform: translateX(-40px);
        }

        .websiteDivTwo {
            border-radius: 30px;
            width: 500px !important;
            transform: translateX(-40px);
        }

        .websiteDivThree {
            border-radius: 30px;
            width: 500px !important;
            transform: translateX(-40px);
        }

        .projectOneSection > div:nth-child(1) {
            margin-right: 5%;
        }

        .projectTwoSection > div:nth-child(1) {
            margin-right: 5%;
        }

        .projectThreeSection > div:nth-child(1) {
            margin-right: 5%;
        }

        .projectOneSection > .websiteDivOne {
            background-image: url('images/websites/fandc.png'); /* Corrected file path */
            background-size: cover; /* Ensures the image covers the entire container */
             /* Set the background image size to 50% of its original width and auto height */
            background-repeat: no-repeat;
            background-position: center;
        }

        .projectTwoSection > .websiteDivTwo {
            background-image: url('images/websites/dreamsite.png'); /* Corrected file path */
            background-size: cover; /* Ensures the image covers the entire container */
            background-size: 120% 120%; /* Set the background image size to 50% of its original width and auto height */
            background-repeat: no-repeat;
            background-position: center;
        }

        .projectThreeSection > .websiteDivThree {
            background-image: url('images/websites/digistrats.png'); /* Corrected file path */
            background-size: cover; /* Ensures the image covers the entire container */
            background-size: 105% 109.5%; /* Set the background image size to 50% of its original width and auto height */
            background-repeat: no-repeat;
            background-position: center;
        }


        .summaryOne, .summaryTwo, .summaryThree {
            align-content: center;
            justify-content: center;
            text-align: center;
            padding: 100px 40px 40px 40px;
        }

        .summaryOne, .summaryTwo, .summaryThree > p {
            line-height: 1.5em;
        }

      
        footer > span {
            margin: 50px 500px;
            padding: 10px 10px;
        }
