 * {
            box-sizing: border-box;
        }

        .header {
            display: flex;
            border: 2px solid black;
            margin: 1%;
            height: 50px;
            width: 1322.5px;
        }

       .name {
        border: 2px solid black;
        width: 150px;
        padding: 7.5px 0px 0px 0px;
       }

       .nav-container {
        border: 2px solid black;
        width: 200px;
        margin-left: 76%;
        justify-content: center;
        padding: 7.5px 0px 0px 0px;
       }

       .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        column-gap: 10px;
        }

        a {
        text-decoration: none;
        color: red;
            }


       .mainStyle {
            border: 2px solid black;
            margin: 1%;
            height: 2500px;
            width: 1322.5px;
            align-content: center;
            justify-content: center;
            align-items: center;
            text-align: center;
            
        }
        
            
      
        footer > span {
           margin: 50px 500px;
            padding: 10px 10px;
        }
